<div class="row">
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Total Amount by month</h5>
				<span class="pull-right text-right">
					<small>last 12 month</small>
				</span>
			</div>
			<div class="ibox-content">
				<%= bills_amount_by_year %>
			</div>
		</div>
	</div>
</div>