<div class="row" id="chart_123>
	<div class="col-lg-6">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>Amount by Companies</h5>
				<div class="pull-right">
					<div class="btn-group">
						<%= link_to 'Last 12 month', bills_amount_by_company_charts_path(last_month: 12), remote: true, class: "btn btn-xs btn-white" %>
						<%= link_to 'Last 6 month', bills_amount_by_company_charts_path(last_month: 6), remote: true, class: "btn btn-xs btn-white active" %>
					</div>
				</div>
			</di12>
			<div class="ibox-content">
				<%= bills_amount_by_company(6) %>
			</div>
		</div>
	</div>
</div>