<div class="row">
	<div class="col-lg-3">
		<div class="ibox ">
			<div class="ibox-title">
				<h5>Bills</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins"><%= @bills.count %></h1>
				<div class="stat-percent font-bold text-info">
					<%= link_to new_bill_path do %>
					New <i class="fa fa-plus"></i>
				</div>
				<% end %>
				<small>Total bills</small>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<span class="label label-info pull-right">Annual</span>
				<h5>Companies</h5>
			</div>
			<div class="ibox-content">
				<h1 class="no-margins"><%= @companies.count %></h1>
				<div class="stat-percent font-bold text-info">
					<%= link_to new_company_path do %>
					New <i class="fa fa-plus"></i>
				</div>
				<% end %>
				<small>Total companies</small>
			</div>
		</div>
	</div>
</div>